.buyer-about-card-container {
  display: flex;
  justify-content: center;
  border: 3px solid #000000;
  border-radius: 15px;
  max-width: 25vw;
  margin-top: 30px;
  --normal-text-size: 0.9rem;
  --small-text-size: 0.7rem;
  font-size: var(--normal-text-size);
}
.talent-about-card-inner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.talent-about-card-img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.talent-about-card-name-and-level-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}
.buyer-about-card-name {
  margin-right: 30px;
  margin-left: 30px;
}

/* .talent-about-card-description {
  display: flex;
  text-align: center;
  font-size: var(--small-text-size);
  justify-content: center;
  margin-bottom: 10px;
} */
.buyer-about-me-card-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--small-text-size);
  margin-bottom: 10px;
  width: 60%;
}
.buyer-about-me-card-options {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}
.buyer-about-me-card-options img {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}
.talent-about-card-address-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.talent-about-card-address-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.talent-about-card-address {
  font-size: var(--small-text-size);
}

.talent-about-card-detail-language-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  margin-bottom: 40px;
  font-size: var(--normal-text-size);
}
.talent-about-card-detail-icon-and-heading {
  display: flex;
  justify-content: space-between;
}

.talent-about-card-detail-icon-and-heading img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.talent-about-card-languages-parent-div {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 38px);
  margin-left: 38px;
  align-items: center;
  flex-wrap: wrap;
}
.talent-about-card-languages-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.talent-about-card-languages-div img {
  margin-right: 10px;
  width: 8px;
  height: 8px;
}
.talent-about-card-languages-text {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.talent-about-card-languages-parent-div .talent-about-card-languages-div {
  margin-top: 10px;
}

.talent-about-card-heading {
  display: flex;
  justify-items: flex-start;
  width: 100%;
  font-size: var(--normal-text-size);
  margin-bottom: 10px;
}
.talent-about-card-about-me-text {
  margin-left: 38px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.talent-about-card-servies-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.talent-about-card-service {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.talent-about-card-service-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 33.33%;
  font-size: var(--small-text-size);
}
.talent-about-card-service-div img {
  width: 8px;
  height: 8px;
  margin-right: 10px;
}

.talent-about-card-education-conatiner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.talent-about-card-education {
  margin-left: 38px;
  display: flex;
  /* justify-content: flex-start; */
  align-items: flex-start;
  width: 70%;
  flex-direction: column;
}

@media screen and (max-width: 1300px) {
  .buyer-about-card-container {
    max-width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  .buyer-about-card-container {
    max-width: 90vw;
  }
}
@media screen and (max-width: 650px) {
    .talent-completed-order-drop-down {
     flex-direction: column;
     align-items: center;
     height: 6rem;
     justify-content: space-evenly;
  }
  .talent-completed-order-drop-down-left {
    margin-left: 0;

}
.talent-completed-order-drop-down-right {
  margin-right: 0;
}
}
