.chat_list_n_chat_conversation_main {
  display: flex;
  flex-direction: row;
  margin-left: var(--buyer-page-margin-left);
  /* margin-right: var(--buyer-page-margin-right); */
  height: calc(100vh - 82px);
  overflow: hidden;
  font-size: 0.9rem;
}
.profiler_details_at_left_chat_screen_heading {
  font-weight: 500;
  margin-top: 15px;
}

/* Chat list css below  */

.chat_screen_chat_list_comp_div_main {
  max-width: 25%;
  width: 25%;
  /* background-color: firebrick; */
}
.buyer_chat_list_main {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  max-width: 25vw;
  /* max-height: 90%;
    overflow: scroll; */
  margin-bottom: 2rem;
  position: relative;
}
.buyer_chat_list_main::-webkit-scrollbar {
  display: none;
}
.buyer_allChat_n_group_chat_div_main {
  position: static;
  /* background-color: cadetblue; */
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
.buyer_All_chat {
  color: grey;
  width: 6vw;
  white-space: nowrap;
  flex-wrap: wrap;
  white-space: wrap;
  /* background-color: aqua; */
  font-family: "Roboto";
  font-size: larger;
}
.buyer_create_grp_chat_div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 1rem; */
  background-color: #00966b;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  font-family: "Roboto";
  font-size: large;
  cursor: pointer;
}
.grp_chat_pls_symbol {
  font-size: x-large;
  padding-right: 5px;
}
.buyer_chat_search_bar_div {
  position: static;
  border: 1px solid #00966b;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 3px 3px 3px 3px;
  margin-bottom: 10px;
}
.buyer_chat_search_icon_div {
  height: 1rem;
  width: 1rem;
  padding: 5px 10px 5px 10px;
}
.searcH_icon_css {
  height: 100%;
  width: 100%;
}
.profiles_Chat_list_main {
  max-height: 70vh;
  overflow: auto;
  /* background-color: cadetblue; */
}
.profiles_Chat_list_main::-webkit-scrollbar {
  display: none;
}
.buyer_chat_search_type_css {
  width: 100%;
  outline: none;
  border: none;
}
.buyer_chat_first_profile_main {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
  /* padding-top: 1rem; */
  padding-bottom: 0.7rem;
  /* background-color: chartreuse; */
  cursor: pointer;
}
.profile_picture_div_main {
  width: 55px;
  border-radius: 50%;
  margin-right: 13px;
  /* background-color: cadetblue; */
  display: inline-block;
  justify-content: center;
  position: relative;
  align-items: center;
}
.profilePicute_css_for_chat {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.profiler_name_n_msg_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.profiler_name_with_time_n_fvrt_icon_main {
  width: 100%;
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Profiler_name_text {
  font-family: "Roboto";
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}
.time_n_fvrt_div_css {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fvrt_icon_div_css {
  display: flex;
  justify-content: flex-end;
}
.time_css {
  color: black;
  text-transform: capitalize;
}
.chat_sender_msg_css {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  /* line-height: X;        /* fallback */
  /* max-height: X*2;       fallback */
}

/* chat Conversation css below  */

.chat_screen_chat_conversation_comp_div_main {
  max-width: 75%;
  width: 75%;
}
.chat_conversation_main_div {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  border-left: 1px solid lightgray;
}
.chat_box_header_main {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
.chat_box_header_left {
  display: flex;
  flex-direction: row;
}

.chat_box_header_icons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-right: 30px;
}

.receiver_profile_pic_main_div {
  width: 55px;
  /* background-color: chartreuse; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.2rem;
  margin-left: 10px;
}
.receiver_profile_pic_css {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.receiver_name_with_designation_main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.receiver_name_text_css {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Roboto";
  white-space: wrap;
  text-transform: capitalize;
  /* padding-bottom: 10px; */
}
.receiver_designation_text_css {
  display: flex;
  flex-wrap: wrap;
  color: #919191;
  font-family: "Roboto";
  padding-bottom: 10px;
}
.chat_box_with_profile_details_main {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid lightgray;
  /* height: 80vh; */
}

.message_screen_main {
  /* background-color: cadetblue; */
  width: 50vw;
  height: calc(100vh - 232px);

  overflow-y: scroll;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.profiler_name_with_online_status {
  display: flex;
  align-items: center;
}
.chat_online_status {
  width: 12px;
  height: 12px;
  margin-top: 3px;
  margin-left: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_box_header_icons:nth-child(1) img {
  width: 25px;
  height: 20px;
}
.chat_box_header_icon_star {
  font-size: 30px !important;
  width: 30px;
  height: 30px;
}
.chat_box_header_icons:nth-child(3) img {
  width: 25px;
  height: 20px;
}
.chat_box_header_icons:nth-child(4) img {
  width: 7px;
  height: 30px;
}

.message-container-profile {
  width: 40px;
  height: 40px;
}

.message-container-profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.message_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message_text_container {
  padding: 10px 10px 20px 10px;
  font-size: 0.9rem;
  /* border-top-left-radius: 10px; */
  max-width: 70%;
  margin-bottom: 15px;
}

.personOne {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 30px;
  background-color: var(--third-background-color);
  overflow-wrap: break-word;
}
.personTwo {
  /* border-top-right-radius: 10px; */
  border-top-left-radius: 10px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 30px;
  color: white;
  background-color: var(--main-color);
  overflow-wrap: break-word;
}

.profiler_details_at_left_chat_screen {
  width: 15vw;
  margin-left: 20px;
}

.text-bar-container {
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 10px;
  background-color: var(--third-background-color);
  border: none;
}

.text-bar-container textarea {
  border: none;
  outline: none;
  background-color: var(--third-background-color);
  margin-left: 20px;
  width: 100%;
  resize: none;
  height: 35px;
  padding-top: 15px;
  min-height: 35px;
  max-height: 200px;
  overflow-y: hidden;
}
.sent-text-icon {
  margin-right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}
.sent-text-icon img {
  width: 35px;
  height: 35px;
}

.profiler_details_at_left_chat_screen_details {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profiler_details_at_left_chat_screen_img {
  width: 75px;
  margin-bottom: 10px;
  height: 75px;
}
.profiler_details_at_left_chat_screen_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profiler_details_at_left_chat_screen_bio_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 0.9rem;
}

.profiler_details_at_left_chat_screen_bio_container span {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}
.profiler_details_at_left_chat_screen_bio_icon {
  width: 15px;
  height: 15px;
}

.profiler_details_at_left_title {
  font-size: 0.7rem;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.profiler_details_at_left_location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profiler_details_at_left_location_icon {
  display: flex;
  align-items: center;
}

.profiler_details_at_left_location_text {
  margin-left: 10px;
  color: var(--text-color-light);
  font-size: 0.7rem;
  margin-top: 10px;
}

/* Talent Chat Unique Classed start */
.sent-offer-btn {
  width: 9rem;
  margin-right: 1rem;
  background-color: var(--main-color);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  /* width: 8rem; */
  padding: 3px 20px;
  font-weight: 700;
  cursor: pointer;
}

.talent_chat_box_header_icons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  margin-right: 30px;
}

.talent_chat_box_header_icons img {
  width: 7px;
  height: 30px;
}

/* Talent Chat Unique Classed end */

@media screen and (max-width: 1250px) {
  .profiler_details_at_left_chat_screen {
    display: none;
  }
  .message_screen_main {
    width: 53vw;
  }
  .chat_screen_chat_list_comp_div_main {
    max-width: 37%;
    width: 37%;
  }
  .buyer_chat_list_main {
    max-width: 37vw;
  }
  .Profiler_name_text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 900px) {
  .message_screen_main {
    width: 51vw;
  }
  .chat_screen_chat_list_comp_div_main {
    max-width: 39%;
    width: 39%;
  }
  .buyer_chat_list_main {
    max-width: 39vw;
  }
  .talent_chat_box_header_icons_container {
    width: 160px;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .chat_screen_chat_list_comp_div_main {
    display: none;
  }
  .message_screen_main {
    width: 100%;
  }
  .message-container-profile {
    display: none;
  }
  .chat_screen_chat_conversation_comp_div_main {
    max-width: 100%;
    width: 100%;
  }
  .chat_conversation_main_div {
    margin-left: 0;
  }

  .chat_list_n_chat_conversation_main {
    font-size: 0.9rem;
  }
  .personTwo {
    margin-right: 5vw;
    max-width: calc(70% - 5vw);
    width: calc(70% - 5vw);
  }
  .personOne {
    max-width: calc(70% - 5vw);
    margin-left: 5vw;
    width: calc(70% - 5vw);
  }
  .message_screen_main {
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
  }
  .sent-text-icon {
    margin-right: 0;
  }
  /* .text-bar-container input {
    margin-left: 5vw;
  } */
  .text-bar-container {
    width: calc(100vw - 10vw);

    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media screen and (max-width: 550px) {
  .receiver_profile_pic_main_div {
    margin-right: 2vw;
    margin-left: 5vw;
  }
  .chat_box_header_left {
    padding: 10px 0 10px 0;
  }
  .chat_box_header_main {
    padding: 10px 0 10px 0;
    width: 100%;
  }
  .chat_box_header_icons_container {
    margin-right: 5vw;
  }
  .receiver_name_text_css {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  .chat_box_header_icons:nth-child(1) img {
    width: 20px;
    height: 15px;
  }

  .chat_box_header_icon_star {
    font-size: 25px !important;
    width: 25px;
    height: 25px;
  }
  .chat_box_header_icons:nth-child(3) img {
    width: 20px;
    height: 15px;
  }
  .chat_box_header_icons:nth-child(4) img {
    width: 6px;
    height: 22px;
  }
  .sent-offer-btn {
    padding: 10px 20px;
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .talent_chat_box_header_icons_container {
    margin-right: 5vw;
    justify-content: space-around;
  }
}
