.mode-main-div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 7vw;
}
.sub_main_mode_div1 {
  width: 30vw;
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 15px;
  position: fixed;
  z-index: 2;
  top: 0;
  margin-top: 80px;
}

.cross_icon_main_div1 {
  width: 90%;
  height: 40px;
  display: flex;
  /* background-color: crimson; */
  justify-content: flex-end;
  /* padding: 1rem; */
}
.mode_cross_icon_css1 {
  height: 65%;
  /* width: 7%; */
  cursor: pointer;
  margin-top: 20px;
}
.forget-password-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.forget-password {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
.back-arrow-div {
  width: 35%;
}
.back-arrow {
  cursor: pointer;
  width: 35px !important;
  height: 35px !important;
}

.password-middle-div {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lock-img-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lock-img {
  width: 85px;
  height: 115px;
}
.lock-img-text {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
  color: var(--main-color);
}
.password-input {
  margin-top: 0px;
  width: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.email-verification-input-field {
  width: 70%;
  height: 40px;
  background-color: white;
  /* margin-left: 15%; */
  border-radius: 25px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  padding-left: 1.25vw;
  border: 1.8px solid var(--main-color-with-opacity);
}

.password-tag {
  padding-left: 15%;
  padding-top: 0.5rem;
  padding-bottom: 5px;
  font-size: small;
}
.email-verification-input-div {
  display: flex;
  justify-content: center;
}

.reset-password-bottom-text {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(55% + 1.25vw);
  font-size: 12px;
  text-align: center;
  color: var(--light-text-color);
}
.continue_as_div1 {
  /* margin-top: 2.5rem; */
  font-size: var(--medium-size);

  font-weight: 700;
}
.change-password-btn-div {
  width: calc(70% + 1.25vw);
  height: 50px;
  background-color: var(--main-color);
  flex-direction: row;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.change-password-btn {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
}
.leftArrow_div1 {
  display: flex;
  justify-content: flex-end;
}
.leftArrow_css1 {
  width: 1rem;
  padding-right: 3vw;
}
.talent_btn1 {
  width: 80%;
  height: 50px;
  background-color: var(--main-color);
  flex-direction: row;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.eye_css {
  cursor: pointer;
}
.eye-icon {
  color: var(--light-text-color);
  width: 15px !important;
  height: 15px !important;
  cursor: pointer;
}

.lock-icon{
  width: 13px;
  height: 17px;
}
@media screen and (max-width: 1250px) {
  .sub_main_mode_div1 {
    width: 40vw;
  }
}
@media screen and (max-width: 1250px) {
  .talent_btn1 {
    width: 80%;
    height: 40px;
    background-color: var(--main-color);
    flex-direction: row;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  .buyer_btn1 {
    width: 80%;
    height: 40px;
    background-color: var(--main-color);
    flex-direction: row;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .password-tag {
    padding-left: 0%;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 11px;
  }
  .change-password-btn-div {
    margin-top: 2rem;
  }
  .mode-main-div {
    align-items: center;
    margin-right: 0vw;
  }
  .sub_main_mode_div1 {
    width: 50vw;
  }
  .back-arrow-div {
    width: 30%;
  }
}

@media screen and (max-width: 650px) {
  .sub_main_mode_div1 {
    width: 65vw;
  }
  .continue_as_div1 {
    /* margin-top: 2.5rem; */
    font-size: var(--small-size);

    font-weight: 700;
  }
}
@media screen and (max-width: 450px) {
  .reset-password-bottom-text {
    font-size: 11px;
  }
  .sub_main_mode_div1 {
    width: 90vw;
  }
  .change-password-btn-div {
    margin-top: 1.5rem;
  }
  .password-input {
    margin-top: 0px;
    width: 100%;
  }
  .email-verification-input-field {
    width: 80%;
  }
  .change-password-btn-div {
    width: calc(80% + 1.25vw);
  }
  .reset-password-bottom-text {
    width: calc(65% + 1.25vw);
  }
  .change-password-btn-div {
    height: 40px;
  }
}
@media screen and (max-width: 350px) {
  .reset-password-bottom-text {
    font-size: 10px;
  }
  .mode_cross_icon_css1 {
    height: 60%;
  }
  .password-middle-div {
    margin-top: 1rem;
  }
}
